@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body {
  background-image: url("blob-scene-haikei.svg");
  /* background-color: rgb(251, 133, 0); */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Spectral", serif;
  font-size: 15px;
  background-attachment: fixed;
}

.main-cont {
  height: 100vh;
}

h2 {
  font-family: "Monoton", cursive;
  letter-spacing: 13px;
  font-weight: 5px;
  font-size: 55px;
}

os {
  color: #f4f7fc;
}

.myquote {
  margin-top: 30px;
  padding: 25px;
  border-radius: 20px;
  background-color: aliceblue;
  font-family: "Kalam", cursive;
  font-size: 30px;
}

b {
  color: #f7a01e;
}

/* Begin Quote Animation */
q::before,
q::after {
  animation: dancing 1s linear infinite;
  display: inline-block;
  transform: rotate(13deg);
}

@keyframes dancing {
  0% {
    transform: rotate(13deg) scale(2);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-13deg) scale(2);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(13deg) scale(2);
  }
}
q {
  quotes: "“" "”";
}
/* End Quote Animation */

.roundImage {
  border-radius: 50%;
}

hr {
  border-width: 5px;
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

.col-1 {
  /* background-color: #14213d; */
  animation-duration: 2s;
  border-right-style: dashed;
  border-right-color: #fca311;
  border-right-width: 15%;
}
.mypos {
  position: fixed;
}
.mypos p,
h4 {
  font-family: "Montserrat", sans-serif;
}
.img-text {
  color: #f4f7fc;
}

.nav-text {
  font-size: larger;
  color: #fca311;
  font-family: "Montserrat", sans-serif;
}

.lee-slide-l1 {
  animation-duration: 0.25;
  animation-delay: 1s;
}

.lee-slide-r1 {
  animation-duration: 0.5;
  animation-delay: 1.2s;
}

.lee-slide-l2 {
  animation-duration: 0.75;
  animation-delay: 1.4s;
}

.lee-slide-r2 {
  animation-duration: 1s;
  animation-delay: 1.6s;
}

footer {
  color: rgb(226, 218, 218);
  margin: 0%;
  padding: 10px;
  animation-duration: 4s;
  animation-delay: 4s;
  position: fixed;
}

footer img {
  border-radius: 50%;
  margin: 0 6px 0 6px;
}

footer hr {
  margin-top: 1px;
  margin-bottom: 15px;
  border-width: 2px;
  border-color: #fbae3c;
}

.col-2 {
  color: aliceblue;
}
.col-2 h3 {
  color: aliceblue;
}

.cell-1 {
  background-color: #e6f2f9;
  border-radius: 16px;
  padding: 10px;
  color: black;
  font-size: 15px;
  text-align: justify;
}

.custom-color1 {
  color: aliceblue;
  background-color: #14213d;
}

.custom-color2 {
  background-color: #fca311;
}

.header-color {
  color: #fca311;
  font-family: "Monoton", cursive;
}

.myCard {
  border-radius: 0.7rem;
  /* box-shadow: rgb(0 0 0 / 46%) -11px 6px 23px 14px; */
  transition: 0.2s;
  background-image: linear-gradient(to right bottom, #fca311, #f1c255);
  color: azure;
}
.myCard:not(:first-child) {
  margin-left: -5rem;
  box-shadow: rgb(0 0 0 / 62%) -40px -1px 9px -2px;
}

.cardApp img {
  border-radius: 5px;
}
/* Font style under the card */
.cardApp p,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #14213d;
}

.myCard:hover {
  transform: rotate(3deg);
  transform-origin: top right;
}

/* The code below allows me to push the adjacent siblings of the selected card in a specific direction */
.myCard:hover ~ .myCard {
  transform: translateX(5rem);
}

.progress img {
  border-radius: 50%;
}
